@{
    ViewBag.Title = "Manuscript Templates";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Tools/ManuscriptTemplates" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Manuscript Templates" />
    <meta property="og:description" content="Download a Word Poetry Template" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Website/manuscript_templates.jpg" />
}

<section class="sct-color-1 slice">
    <div class="container">
        <section>


            <div class="row">

                <!-- Default colors -->
                <div class="section-title-wrapper style-1 v1">
                    <h3 class="section-title section-title-sm center">
                        <span>Download a Word Poetry Template</span>
                    </h3>
                </div>

                <p>
                    Here are four Word templates which can be used to put together either small poetry submissions or whole manuscripts.
                    The templates use a dynamic table of contents and come in both Calibri and Times New Roman fonts. To use the templates
                    follow the examples inside the templates. For the smaller collection use the Normal style for the poem body and Heading 1 for the poem title.
                    For the manuscript template use the Normal style for poem body, Heading 2 for the poem titles and Heading 1 for the section titles.
                    Once the poems and/or sections are in place, put your cursor in the table of contents and refresh the table by
                    hitting F9 on the keyboard. This will update the pagination and text of the table.
                </p>
                <p>
                    If you like the templates or have any questions please <a href="mailto:HenryCrawfordPoetry@gmail.com">send me an email</a> at HenryCrawfordPoetry@gmail.com.
                </p>

                <div class="buttons-example mb-20">
                    @Html.ActionLink("Calibri Template", "DownloadTemplateCalibri", "Home", null, new { @class = "btn btn-blue btn-icon btn-icon-animate fa-pencil-square-o" })
                    @Html.ActionLink("Calibri Manuscript", "DownloadTemplateCalibriManuscript", "Home", null, new { @class = "btn btn-blue btn-icon btn-icon-animate fa-book" })
                    @Html.ActionLink("Times New Roman Template", "DownloadTemplateTimesNewRoman", "Home", null, new { @class = "btn btn-red btn-icon btn-icon-animate fa-pencil-square-o" })
                    @Html.ActionLink("Times New Roman Manuscript", "DownloadTemplateTimesNewRomanManuscript", "Home", null, new { @class = "btn btn-red btn-icon btn-icon-animate fa-book" })
                </div>

            </div>

        </section>
    </div> <!-- .container -->
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
