@model Models.PantoumModel
@{
    ViewBag.Title = "Pantoum Paradise";
}
@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/Tools/Pantoum" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Pantoum Paradise" />
    <meta property="og:description" content="A tool for writing pantoum poems" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Website/VillanelleVillageLogoMd.jpg" />
}
<section class="sct-color-1 slice">

    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <div class="alert alert-info">
                    <strong>Welcome to Villanelle Village.</strong> The Villanelle is a challenging poetic form. There are five tercets followed by one quatrain. The initial tercet sets up two repeating refrains in the first and third lines of the poem. These are repeated in alternating stanzas and repeat for a final time as the last two lines of the poem.
                    <br /><br />
                    This tool lets you work with each of the 19 lines that make up the stanzas. The first stanza is the most important since it sets up the two repeating refrains. Hit the "Set" button for each line to automatically set the text for the applicable lines. In the case of the first line, the last word of that line will be inserted as hints into the lines which must rhyme with that word. Similarly, setting the second line will fill all applicable lines with the last word of that line as a hint. Of course, lines can be changed and new rhymes can be added as needed. When you are done, hit Create Villanelle and you will get a downloadable text document which you can use as a template by copying it into your regular writing word processor.
                </div>
            </div>
            <div class="col-md-3">
                <div class="listing-image">
                    <img width="325" src="~/Images/Website/VillanelleVillageLogoSm.jpg" alt="Villanelle Village Logo" />
                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div>
                <!-- Form -->

                <form method="POST" action="CreatePantoum">

                    <div class="row">

                        <div class="form-group form-inline">
                            <label for="Title">Title</label>
                            <input type="text" style="width:400px" class="form-control" id="Title" name="Title" value="@Model.Title" placeholder="Title">
                        </div>


                        <div class="col-md-7">
                            <div class="section-title-wrapper style-1 v1">
                                <h3 class="section-title section-title-sm left">
                                    <span>Write Pantoum Lines</span>
                                </h3>
                            </div>


                            <div class="form-group form-inline">
                                <label for="Line1">Line 1</label>
                                <input type="text" style="width:400px" class="form-control" id="Line1" name="Line1" value="@Model.Line1" placeholder="Line 1 of 1st Quatrain + Line 4 of 5th Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line1').value, 1);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line2">Line 2</label>
                                <input type="text" style="width:400px" class="form-control" id="Line2" name="Line2" value="@Model.Line2" placeholder="Line 2 of 1st Quatrain + 1st line of 2nd Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line2').value, 2);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line3">Line 3</label>
                                <input type="text" style="width:400px" class="form-control" id="Line3" name="Line3" value="@Model.Line3" placeholder="Line 3 of 1st Quatrain + 2nd line of 5th Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line3').value, 3);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line4">Line 4</label>
                                <input type="text" style="width:400px" class="form-control" id="Line4" name="Line4" value="@Model.Line4" placeholder="Line 4 of 1st Quatrain + 3rd line of 2nd Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line4').value, 4);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line5">Line 5</label>
                                <input type="text" style="width:400px" class="form-control" id="Line5" name="Line5" value="@Model.Line5" placeholder="Line 2 of 2nd Quatrain + 1st line of 3rd Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line5').value, 5);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line6">Line 6</label>
                                <input type="text" style="width:400px" class="form-control" id="Line6" name="Line6" value="@Model.Line6" placeholder="Line 4 of 2nd Quatrain + 3rd line of 3rd Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line6').value, 6);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line7">Line 7</label>
                                <input type="text" style="width:400px" class="form-control" id="Line7" name="Line7" value="@Model.Line7" placeholder="Line 2 of 3nd Quatrain + 1st line of 4th Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line7').value, 7);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line8">Line 8</label>
                                <input type="text" style="width:400px" class="form-control" id="Line8" name="Line8" value="@Model.Line8" placeholder="Line 4 of 3rd Quatrain + 3rd line of 4th Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line8').value, 8);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line9">Line 9</label>
                                <input type="text" style="width:400px" class="form-control" id="Line9" name="Line9" value="@Model.Line9" placeholder="Line 2 of 4th Quatrain + 1st line of 5th Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line9').value, 9);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                            <div class="form-group form-inline">
                                <label for="Line10">Line 10</label>
                                <input type="text" style="width:400px" class="form-control" id="Line10" name="Line10" value="@Model.Line10" placeholder="Line 4 of 4th Quatrain + 3rd line of 5th Quatrain">
                                <button type="button" onclick="setPantoumLine(document.getElementById('Line10').value, 10);" class="btn btn-base-1">Set</button>
                                <button type="button" onclick="clearPantoumLine();" class="btn btn-base-1">Clr</button>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="section-title-wrapper style-1 v1">
                                <h3 class="section-title section-title-sm left">
                                    <span>Pantoum</span>
                                </h3>
                            </div>

                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine1" name="PLine1" value="@Model.PLine1" placeholder="Quatrain 1">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine2" name="PLine2" value="@Model.PLine2" placeholder="Quatrain 1">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine3" name="PLine3" value="@Model.PLine3" placeholder="Quatrain 1">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine4" name="PLine4" value="@Model.PLine4" placeholder="Quatrain 1">
                            </div>

                            <br />


                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine5" name="PLine5" value="@Model.PLine5" placeholder="Quatrain 2">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine6" name="PLine6" value="@Model.PLine6" placeholder="Quatrain 2">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine7" name="PLine7" value="@Model.PLine7" placeholder="Quatrain 2">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine8" name="PLine8" value="@Model.PLine8" placeholder="Quatrain 2">
                            </div>

                            <br />

                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine9" name="PLine9" value="@Model.PLine9" placeholder="Quatrain 3">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine10" name="PLine10" value="@Model.PLine10" placeholder="Quatrain 3">
                            </div>

                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine11" name="PLine11" value="@Model.PLine11" placeholder="Quatrain 3">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine12" name="PLine12" value="@Model.PLine12" placeholder="Quatrain 3">
                            </div>

                            <br />

                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine13" name="PLine13" value="@Model.PLine13" placeholder="Quatrain 4">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine14" name="PLine14" value="@Model.PLine14" placeholder="Quatrain 4">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine15" name="PLine15" value="@Model.PLine15" placeholder="Quatrain 4">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine16" name="PLine16" value="@Model.PLine16" placeholder="Quatrain 4">
                            </div>

                            <br />

                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine17" name="PLine17" value="@Model.PLine17" placeholder="Quatrain 5">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine18" name="PLine18" value="@Model.PLine18" placeholder="Quatrain 5">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine19" name="PLine19" value="@Model.PLine19" placeholder="Quatrain 5">
                            </div>
                            <div class="">
                                <input type="text" style="width:400px" class="form-control" id="PLine20" name="PLine20" value="@Model.PLine20" placeholder="Quatrain 5">
                            </div>

                            <br />

                            <div class="form-group form-inline">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-base-1">Create Pantoum</button>
                                </div>
                            </div>

                        </div>

                    </div> <!-- .row -->

                </form>

            </div>
            <br />

        </div>
    </div>
</section>


@section Scripts {

    <script>

        function setPantoumLine(str, num)
        {
            //alert(str + " " + num);

            switch (num) {
                case 1:
                    $("#PLine1").val(str);
                    $("#PLine20").val(str);
                    break;
                case 2:
                    $("#PLine2").val(str);
                    $("#PLine5").val(str);
                    break;
                case 3:
                    $("#PLine3").val(str);
                    $("#PLine18").val(str);
                    break;
                case 4:
                    $("#PLine4").val(str);
                    $("#PLine7").val(str);
                    break;
                case 5:
                    $("#PLine6").val(str);
                    $("#PLine8").val(str);
                    break;
                case 6:
                    $("#PLine8").val(str);
                    $("#PLine11").val(str);
                    break;
                case 7:
                    $("#PLine10").val(str);
                    $("#PLine13").val(str);
                    break;
                case 8:
                    $("#PLine12").val(str);
                    $("#PLine15").val(str);
                    break;
                case 9:
                    $("#PLine8").val(str);
                    $("#PLine11").val(str);
                    break;
                case 9:
                    $("#PLine14").val(str);
                    $("#PLine17").val(str);
                    break;
                case 10:
                    $("#PLine16").val(str);
                    $("#PLine19").val(str);
                    break;
            }





        }

        function clearPantoumLine()
        {
            alert('clear');
        }

    </script>


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/custom.js"></script>
}
