@{
    ViewBag.Title = "Guest Artists";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/GuestArtists" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Burgi Zenhaeusern" />
    <meta property="og:description" content="border/s" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/burgi_zenhaeusern_borders.jpg" />
}


<!-- SECTION -->
<!-- SECTION -->
<section class="sct-color-1 slice">
    <div class="container">

        <div class="row">

            <div class="col-md-1">&nbsp;</div>

            <div class="col-md-9">

                <h2 id="burgi_zenhaeusern">Burgi Zenhaeusern</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/burgi_zenhaeusern_borders.jpg" alt="border/s" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title" style="text-transform:lowercase">
                            border/s<br />
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="burgi_zenhaeusern_borders.html"})">border/s</a>
                    </div>
                </div>


                <h2 id="quasar">Q.R. Quasar</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/quasar_anthem_for_the_earth.jpg" alt="Anthem for the Earth" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Anthem for the Earth<br />
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="quasar_anthem_for_the_earth.html"})">Anthem for the Earth</a>
                    </div>
                </div>

                <h2 id="miles_david_moore">Miles David Moore</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/miles_david_moore_italian-american.jpg" alt="Italian-American" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Italian-American<br />
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="miles_david_moore_italian-american.html"})">Italian-American</a>
                    </div>
                </div>

                <h2 id="anne_harding_woodworth">Anne Harding Woodworth</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/anne_harding_woodworth_smart_gun.jpg" alt="Smart Gun" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            From The Last Gun<br />
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="anne_harding_woodworth_smart_gun.html"})">Smart Gun</a>
                    </div>
                </div>


                <h2 id="ellen _cole">Ellen Cole</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/ellen_cole_the_grandmother_gene.jpg" alt="" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            From Notes From the Dry County<br />
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="ellen_cole_the_grandmother_gene.html"})">The Grandmother Gene</a>
                    </div>
                </div>

                <h2 id="bob_Blair">Bob Blair</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/bob_blair_ballad_of_the_girl_with_the_green_guitar.jpg" alt="" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            From Still Life with Sardines<br /><small>Poems: New and Used</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="bob_blair_ballad_of_the_girl_with_the_green_guitar.html"})">Ballad of the Girl with the Green Guitar</a>
                    </div>
                </div>


                <h2 id="le_hinton">Le Hinton</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/le_hinton_legacy.jpg" alt="Legacy" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Legacy<br /><small>From Sing Silence</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="le_hinton_legacy.html"})">Legacy</a>
                    </div>
                </div>

                <h2 id="julie_winters">Julie Winters</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/julie_winters_middle_school_gunman.jpg" alt="Middle School Gunman" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Middle School Gunman
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="julie_winters_middle_school_gunman.html"})">Middle School Gunman</a>
                    </div>
                </div>


                <h2 id="hiram_larew">Hiram Larew</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/hiram_larew_undone.jpg" alt="Undone" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Undone<br /><small>Title Poem From Undone</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="hiram_larew_undone.html"})">Undone</a>
                    </div>
                </div>


                <h2 id="janet_walenta">Janet Walenta</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/janet_walenta_my_spirit_animal.jpg" alt="My Spirit Animal" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            My Spirit Animal
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="janet_walenta_my_spirit_animal.html"})">My Spirit Animal</a>
                    </div>
                </div>

                <h2 id="karren_lalonde_alenier">Karren LaLonde Alenier</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/karren_lalonde_alenier_a_college_boy_travels_south_with_baggage.jpg" alt="A College Boy Travels South with Baggage" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            A College Boy Travels South with Baggage<br /><small>From The Anima of Paul Bowles</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="karren_lalonde_alenier_a_college_boy_travels_south_with_baggage.html"})">A College Boy Travels South with Baggage</a>
                    </div>
                </div>

                <h2 id="pamela_murray_winters">Pamela Murray Winters</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/pamela_murray_winters_two_texas_folk_films.jpg" alt="Two Texas Folk Films" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Two Texas Folk Films<br /><small>From The Unbeckonable Bird</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="pamela_murray_winters_two_texas_folk_films.html"})">Two Texas Folk Films</a>
                    </div>
                </div>


                <h2 id="luther_jett">Luther Jett</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/luther_jett_migrations.jpg" alt="Migrations" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Migrations<br /><small>From Our Situation</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="luther_jett_migrations.html"})">Migrations</a>
                    </div>
                </div>


                <h2 id="donald_illich">Donald Illich</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/donald_illich_worsening_the_situation.jpg" alt="Worsening the Situation" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Worsening the Situation<br /><small>From Chance Bodies</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="donald_illich_worsening_the_situation.html"})">Worsening the Situation</a>
                    </div>
                </div>


                <h2 id="david_keplinger">David Keplinger</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/david_keplinger_the_city_of_birth.jpg" alt="The City of Birth" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The City of Birth<br /><small>From Another City</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="david_keplinger_the_city_of_birth.html"})">The City of Birth</a>
                    </div>
                </div>


                <h2 id="margaret_mackinnon">Margaret Mackinnon</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/margaret_mackinnon_myrtle_beach_1959.jpg" alt="Myrtle Beach, 1959" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Myrtle Beach, 1959<br /><small>From Naming the Natural World</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="margaret_mackinnon_myrtle_beach_1959.html"})">Myrtle Beach, 1959</a>
                    </div>
                </div>

                <h2 id="susan_okie">Susan Okie</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/prayer_in_the_winter_desert.png" alt="Prayer in the Winter Desert" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Prayer in the Winter Desert<br /><small>From Let You Fly</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="susan_okie_prayer_in_the_winter_desert.html"})">Prayer in the Winter Desert</a>
                    </div>
                </div>

                <h2 id="betsy_holleman">Betsy Holleman</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/my_thoughts_and_prayers_are_with_you.png" alt="my thoughts and prayers are with you" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            My Thoughts and Prayers Are With You<br /><small>Betsy Holleman</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="betsy_holleman_my_thoughts_and_prayers_are_with_you.html"})">My Thoughts and Prayers Are With You</a>
                    </div>
                </div>


                <h2 id="martin_shapiro">Martin Shapiro</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/open_city_pittsburgh.jpg" alt="Open City Pittsburgh" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Open City: Pittsburgh<br /><small>Martin Shapiro</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="martin_shapiro_open_city_pittsburgh.html"})">Open City: Pittsburgh</a>
                    </div>
                </div>

                <h2 id="roni_fuller">Roni Fuller</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/help.png" alt="Help" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Help<br /><small>Roni Fuller</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="roni_fuller_help.html"})">Help</a>
                    </div>
                </div>



                <h2 id="majda_gama">Majda Gama</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/sunglasses.png" alt="Three Poems" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Three Poems<br /><small>Majda Gama & Henry Crawford</small>
                        </h3>
                        <p>
                            Poet colleague Majda Gama shared three of her wonderful poems with me. She also suggested three of mine from <i>American Software</i> for comparision. So here they are side-by-side on the page.
                        </p>

                        <ul class="inline-meta">
                            <li><a href="@Url.Action("PoemTwo", "Poems", new {fileName1="majda_gama_the_stars_fall_on_alabama.html", fileName2="henry_crawford_st_ike_of_the_illuminated_highways.html"})">The Stars Fall on Alabama + St. Ike of the Illuminated Highways</a></li>
                        </ul>

                        <ul class="inline-meta">
                            <li><a href="@Url.Action("PoemTwo", "Poems", new {fileName1="majda_gama_p_street_beach_elegy.html", fileName2="henry_crawford_east_of_manhattan.html"})">P Street Beach Elegy + East of Manhattan</a></li>
                        </ul>

                        <ul class="inline-meta">
                            <li><a href="@Url.Action("PoemTwo", "Poems", new {fileName1="majda_gama_germs_burns.html", fileName2="henry_crawford_kurt_cobain_1994.html"})">Germs Burns + Kurt Cobain [1994]</a></li>
                        </ul>

                    </div>
                </div>
                <h2 id="ann_philips">Ann Philips</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/how_we_fall_asleep.png" alt="How We Fall Asleep" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            How we Fall Asleep<br /><small>from A Language the Land is Inventing</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="ann_philips_how_we_fall_asleep.html"})">How we Fall Asleep</a>
                    </div>
                </div>


                <h2 id="bill_yarrow">Bill Yarrow</h2>
                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/vig_of_love.jpg" alt="The Vig of Love" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The Vig of Love<br /><small>From The Vig of Love</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="bill_yarrow_the_vig_of_love.html"})">THe Vig of Love</a>
                    </div>
                </div>

                <h2 id="judith_bowles">Judith Bowles</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/santa_barbara.jpg" alt="Santa Barbara, CA" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Santa Barbara Morning<br /><small>Judith Bowles</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="judith_bowles_santa_barbara_morning.html"})">Santa Barbara Morning</a>
                    </div>
                </div>

                <h2 id="kim_roberts">Kim Roberts</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/lyndon_johlnson_talking.jpg" alt="Lyndon Johnson Talking" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Rondeau Beginning with a Quote<br />from Lyndon Baines Johnson<br /><small>from The Scientific Method</small>
                        </h3>
                        <a class="btn btn-sm btn-b-base-1 mt-15" href="@Url.Action("Poem", "Poems", new {fileName="kim_roberts_rondeau_beginning_with_a_quote_from_lyndon_baines_johnson.html"})">Rondeau Beginning with a Quote<br />from Lyndon Baines Johnson</a>
                    </div>
                </div>

                <h2 id="ellen_sazzman">Ellen Sazzman</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/poems/hawk_and_dove.jpg" alt="The Hawk and Dove" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Hawk and Dove<br /><small>Ellen Sazzman</small>
                        </h3>
                        @Html.ActionLink("Hawk and Dove", "Poem", "Poems", new { fileName = "ellen_sazzman_hawk_and_dove.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })
                    </div>
                </div>

                <h2 id="rocky-delaplaine">Rocky Delaplaine</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/letter_o.jpg" alt="The Letter O" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The Letter O<br /><small>from The Letter O</small>
                        </h3>
                        @Html.ActionLink("The Letter O", "Poem", "Poems", new { fileName = "letter_o.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })
                    </div>
                </div>

                <span class="clearfix mt-20"></span>

                <hr />

                <h2 id="jason-gebhardt">Jason Gebhardt</h2>

                <div class="block block-image v3 mb-40">

                    <div class="block-image">
                        <img src="~/Images/Poems/jfk_to_lax.jpg" alt="Airport Waiting" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            JFK to LAX<br /><small>from Good Housekeeping</small>
                        </h3>
                        @Html.ActionLink("JFK to LAX", "Poem", "Poems", new { fileName = "JFK_to_LAX.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })
                    </div>
                </div>

                <span class="clearfix mt-20"></span>

                <hr />

                <h2 id="renee-gherity">Renee Gherity</h2>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/gettysburg_july_1_1863.jpg" alt="" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Gettysburg, July 1, 1863<br /><small>Renee Gherity</small>
                        </h3>
                        @Html.ActionLink("Gettysburg, July 1, 1863", "Poem", "Poems", new { fileName = "gettysburg_july_1_1863.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })
                    </div>
                </div>

                <span class="clearfix mt-20"></span>

            </div> <!-- col-md-9 -->

            <div class="col-md-2">
                <!-- SIDEBAR -->
                <div class="sidebar">
                    <!-- SIDEBAR OBJECT 1 -->
                    <div class="sidebar-object">
                        <br /><br />
                        <div class="section-title-wrapper style-1 v1">
                            <h3 class="section-title left">
                                <span>Guest Archive</span>
                            </h3>
                        </div>
                        <ul class="list-image">

                            <li>
                                <img src="~/Images/Poems/quasar_anthem_for_the_earth.jpg" alt="Anthem for the Earth" />
                                <p>
                                    <a href="#quasar">Quasar</a>
                                </p>
                            </li>

                            <li>
                                <img src="~/Images/Poems/miles_david_moore_italian-american.jpg" alt="Italian-American" />
                                <p>
                                    <a href="#miles_david_moore">Miles David Moore</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/anne_harding_woodworth_smart_gun.jpg" alt="Smart Gun" />
                                <p>
                                    <a href="#anne_harding_woodworth">Anne Harding Woodworth</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/ellen_cole_the_grandmother_gene.jpg" alt="Grandmother Gene" />
                                <p>
                                    <a href="#ellen _cole">Ellen Cole</a>
                                </p>
                            </li>

                            <li>
                                <img src="~/Images/Poems/bob_blair_ballad_of_the_girl_with_the_green_guitar.jpg" alt="Girl with Green Guitar" />
                                <p>
                                    <a href="#bob_blair">Bob Blair</a>
                                </p>
                            </li>

                            <li>
                                <img src="~/Images/Poems/le_hinton_legacy.jpg" alt="Legacy" />
                                <p>
                                    <a href="#le_hinton">Le Hinton</a>
                                </p>
                            </li>


                            <li>
                                <img src="~/Images/Poems/julie_winters_middle_school_gunman.jpg" alt="Middle School Gunman" />
                                <p>
                                    <a href="#julie_winters">Julie Winters</a>
                                </p>
                            </li>

                            <li>
                                <img src="~/Images/Poems/hiram_larew_undone.jpg" alt="Undone" />
                                <p>
                                    <a href="#hiram_larew">Hiram Larew</a>
                                </p>
                            </li>


                            <li>
                                <img src="~/Images/Poems/janet_walenta_my_spirit_animal.jpg" alt="My Spirit Animal" />
                                <p>
                                    <a href="#janet_walenta">Janet Walenta</a>
                                </p>
                            </li>


                            <li>
                                <img src="~/Images/Poems/karren_lalonde_alenier_a_college_boy_travels_south_with_baggage.jpg" alt="Karren LaLonde Alenier" />
                                <p>
                                    <a href="#karren_lalonde_alenier">Karren LaLonde Alenier</a>
                                </p>
                            </li>



                            <li>
                                <img src="~/Images/Poems/pamela_murray_winters_two_texas_folk_films.jpg" alt="Pamela Murray Winters" />
                                <p>
                                    <a href="#pamela_murray_winters">Pamela Murray Winters</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/luther_jett_migrations.jpg" alt="Luther Jett" />
                                <p>
                                    <a href="#luther_jett">Luther Jett</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/donald_illich_worsening_the_situation.jpg" alt="Donald Illich" />
                                <p>
                                    <a href="#donald_illich">Donald Illich</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/david_keplinger_the_city_of_birth.jpg" alt="David Keplinger" />
                                <p>
                                    <a href="#david_keplinger">David Keplinger</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/margaret_mackinnon_myrtle_beach_1959.jpg" alt="Margaret Mackinnon" />
                                <p>
                                    <a href="#margaret_mackinnon">Margaret Mackinnon</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/prayer_in_the_winter_desert.png" alt="Susan Okie" />
                                <p>
                                    <a href="#susan_okie">Susan Okie</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/my_thoughts_and_prayers_are_with_you.png" alt="Betsy Holleman" />
                                <p>
                                    <a href="#betsy_holleman">Betsy Holleman</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/open_city_pittsburgh.jpg" alt="Open City: Pittsburgh" />
                                <p>
                                    <a href="#martin_shapiro">Martin Shapiro</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/help.png" alt="Help" />
                                <p>
                                    <a href="#roni_fuller">Roni Fuller</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/sunglasses.png" alt="Three Poems" />
                                <p>
                                    <a href="#majda_gama">Majda Gama</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/how_we_fall_asleep.png" alt="How we fall asleep" />
                                <p>
                                    <a href="#ann_philips">Ann Philips</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/vig_of_love.jpg" alt="The Vig of Love" />
                                <p>
                                    <a href="#bill_yarrow">Bill<br />Yarrow</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/poems/santa_barbara.jpg" alt="Santa Barbara Morning">
                                <p>
                                    <a href="#judith_bowles">Judith<br />Bowles</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/poems/lyndon_johnson_desk.jpg" alt="Lyndon Johnson">
                                <p>
                                    <a href="#kim_roberts">Kim<br />Roberts</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/poems/hawk_and_dove.jpg" alt="The Hawk and Dove">
                                <p>
                                    <a href="#ellen_sazzman">Ellen Sazzman</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/letter_o.jpg">
                                <p>
                                    <a href="#rocky-delaplaine">Rocky Delaplaine</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/jfk_to_lax.jpg" alt="Airport Waiting">
                                <p>
                                    <a href="#jason-gebhardt">Jason Gebhardt</a>
                                </p>
                            </li>
                            <li>
                                <img src="~/Images/Poems/gettysburg_july_1_1863.jpg">
                                <p>
                                    <a href="#renee-gherity">Renee Gherity</a>
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>  <!-- sidebar  -->
            </div> <!-- col-md-3 -->

        </div> <!-- row -->
    </div> <!-- page container -->
</section> <!--page section sct-color-1 slice -->

@section Scripts {

    <script>

        $(document).ready(function () {
            $("[data-toggle='tooltip']").tooltip();
            $('[data-toggle="popover"]').popover();
        });

    </script>

}
