@{
    ViewBag.Title = "AmericanSoftware";
}
    <!-- SECTION -->
    <!-- SECTION -->

    <section class="sct-color-1 slice">
        <div class="container">

            <div class="section-title-wrapper style-1 v1">
                <h3 class="section-title center">
                    <span>American Software</span>   
                    <span class="section-subtitle">A small sample of poems from the book.</span>
                </h3> 
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/Hello_World2.jpg">    
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Hello World!
                            </h3>
                            <p>
                            When learning a new computer language, a computer programmer will usually write a simple program that displays the text "Hello World." It's the prologue poem in American Software.
                            </p>                                        
                            @Html.ActionLink("Hello World!", "Poem", "Poems", new { fileName="hello_world.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>

                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/Odysseus.jpg">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Odysseus
                            </h3>
                            <p>
                            A post-modern reimagining of Homer's tale as recovered from a ceramic disk found lodged in the skull of a 400-year-old sea lion.
                            </p>
                            @Html.ActionLink("Odysseus", "Poem", "Poems", new { fileName="odysseus.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
 
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/It_Does_Kind_of_Burn.jpg">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                It Does Kind of Burn. Goodbye.
                            </h3>
                            <p>
                            The last words of Jose Villegas before being put to death by lethal injection by the State of Texas on April 16, 2014.
                            </p>
                            @Html.ActionLink("It Does Kind of Burn. Goodbye.", "Poem", "Poems", new { fileName="it_does_kind_of_burn_goodbye.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/sentence.jpg">  
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                The Sentence
                            </h3>
                            <p>
                                A life told in the clause of a single sentence.
                            </p>
                            @Html.ActionLink("Sentince", "Poem", "Poems", new { fileName="sentence.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/boxanddiamond.jpg">  
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                When Box Met Diamond
                            </h3>
                            <p>
                            A romantic comedy set in a poem within a poem.
                            </p>
                            @Html.ActionLink("When Box Met Diamond", "Poem", "Poems", new { fileName="when_box_met_diamond.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>




                    <div class="block block-image v3 mb-40">
                        <div class="block-image">
                            <img src="~/Images/Poems/Maddie.JPG">     
                        </div>
                        <div class="block-content">
                            <h3 class="block-title">
                                Every Morning, Maddie
                            </h3>
                            <p>
                            A parent. A daughter. Addiction.
                            </p>        
                            @Html.ActionLink("Every Morning, Maddie", "Poem", "Poems", new { fileName="every_morning_maddie.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })       
                        </div>
                    </div>
                    <span class="clearfix mt-20"></span>
                                
                    </div>
                <div class="col-md-3">
                    <!-- SIDEBAR -->
            </div>


                </div>

        </div>
    </section>
