@{
    ViewBag.Title = "Online";
}

@section AdditionalMetatags
{
    <meta property="og:url" content="http://henrycrawfordpoetry.com/online" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Black Hole Ekphrastic " />
    <meta property="og:description" content="The Ekphratic Review" />
    <meta property="og:image" content="http://henrycrawfordpoetry.com/Images/Poems/henry_crawford_black_hole_ekphrastic.jpg" />
}

<!-- SECTION -->
<section class="sct-color-1 slice">
    <div class="container">

        <div class="row">

            <div class="col-md-9">

                <div id="poets_reading_the_news_the_artificial_policeman" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_the_artificial_policeman.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The Artificial Policeman
                        </h3>
                        <a target="_blank" class="btn btn-sm btn-b-base-1 mt-15" href="http://www.poetsreadingthenews.com/2019/07/the-artificial-policeman/">Poets Reading the News</a>

                    </div>
                </div>


                <div id="ekphrastic_review_black_hole_ekphrastic" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_black_hole_ekphrastic.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Black Hole Ekphrastic
                        </h3>
                        <a target="_blank" class="btn btn-sm btn-b-base-1 mt-15" href="http://www.ekphrastic.net/the-ekphrastic-review/black-hole-ekphrastic-by-henry-crawford">The Ekphrastic Review</a>

                    </div>
                </div>

                <div id="terror_house_three_poems" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_terror_house_three_poems.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Three for the Road
                        </h3>
                        <a target="_blank" class="btn btn-sm btn-b-base-1 mt-15" href="https://terrorhousemag.com/traffic-jam/">Terror House Magazine</a>

                    </div>
                </div>


                <div id="otolith_four_poems" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_otolith_four_poems.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Four Poems<br /><small>Otolith, Issue 53, Southern Autumn, 2019</small>
                        </h3>
                        <a target="_blank" class="btn btn-sm btn-b-base-1 mt-15" href="https://the-otolith.blogspot.com/2019/04/henry-crawford.html">Otolith</a>

                    </div>
                </div>


                <div id="asleep_at_the_wheel" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_asleep_at_wheel.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Asleep at the Wheel<br /><small>Better Than Starbucks, March 2019 Issue</small>
                        </h3>
                        <a target="_blank" class="btn btn-sm btn-b-base-1 mt-15" href="https://anthonywatkins.wixsite.com/btsmar2019/experimental-found-prose-poetry">Better Than Starbucks</a>

                    </div>
                </div>

                <div id="driving_across_a_bridge" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_driving_across_a_bridge.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Driving Across a Bridge<br /><small>Into the Void, January 2019 Issue</small>
                        </h3>
                        <a target="_blank" class="btn btn-sm btn-b-base-1 mt-15" href="https://intothevoidmagazine.com/article/driving-across-a-bridge/">Into the Void</a>

                    </div>
                </div>


                <div id="the_metakiller" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_the_metakiller.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The MetaKiller
                        </h3>
                        <p>
                            Scryptic Magazine of Alternative Art
                        </p>
                        @Html.ActionLink("The Metakiller", "Poem", "Poems", new { fileName = "henry_crawford_the_metakiller.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15", target = "_blank" })
                    </div>
                </div>


                <div id="windows_and_secrets" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_windows_and_secrets.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Windows & Secrets<br /><small>Finalist 2018 Slippery Elm Journal Multimedia Poetry Contest</small>
                        </h3>
                        <a target="_blank" href="https://slipperyelm.findlay.edu/wp-content/uploads/2018/12/Secrets__Windows-2.html" class="btn btn-sm btn-b-base-1 mt-15">Slippery Elm Literary Journal</a>

                    </div>
                </div>




                <div id="seven_traffic_lights" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/seven_traffic_lights_terror_house_magazine.jpg" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Bot, David Foster Wallace and Seven Traffic Lights
                        </h3>
                        <a target="_blank" href="https://terrorhousemag.com/bot/?fbclid=IwAR1OTnIDvawESLxkCnYTeYMQZtqex6PLUJ-1BH7iQbuj_jeSj72pVnwAsr4" class="btn btn-sm btn-b-base-1 mt-15">Terror House Magazine</a>

                    </div>
                </div>


                <div id="sketch-of-a-poem-in-10-broken-lines" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_sketch_of_a_poem_in_10_broken_lines.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Sketch of a Poem in 10 Broken Lines
                        </h3>
                        <a target="_blank" href="https://www.moriaonline.com/issue-two-2018-1/2018/11/19/title" class="btn btn-sm btn-b-base-1 mt-15">MORIA</a>
                        <br /><br />
                        <p>Audio Reading of the Poem:</p>
                        <audio controls preload="none" style="width:280px;">
                            <source src="~/videos/sketch_of_a_poem_in_10_broken_lines.mp3" type="audio/mp4" />
                            <p>Your browser does not support HTML5 audio.</p>
                        </audio>
                        <p>
                            <strong>Download Audio:</strong>
                            <a href="~/videos/sketch_of_a_poem_in_10_broken_lines.mp3">mp3</a>,
                        </p>
                    </div>
                </div>



                <div id="game-on" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_game_on.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Game [On]
                        </h3>
                        <a target="_blank" href="https://www.themetaworker.com/2018/10/15/game-on-by-henry-crawford/" class="btn btn-sm btn-b-base-1 mt-15">The Metaworker</a>
                        <br /><br />
                        <p>Audio Reading of the Poem:</p>
                        <audio controls preload="none" style="width:280px;">
                            <source src="~/videos/Game_On.mp3" type="audio/mp4" />
                            <p>Your browser does not support HTML5 audio.</p>
                        </audio>
                        <p>
                            <strong>Download Audio:</strong>
                            <a href="~/videos/Game_On.mp3">mp3</a>,
                        </p>
                    </div>
                </div>





                <div id="forsaken" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_forsaken.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Forsaken
                        </h3>
                        <a target="_blank" href="http://www.ekphrastic.net/the-ekphrastic-review/forsaken-by-henry-crawford" class="btn btn-sm btn-b-base-1 mt-15">The Ekphrastic Review</a>                            <br /><br />
                    </div>
                </div>


                <div id="7_disappearing_words" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/7_disappearing_words.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            7 Disappearing Words
                        </h3>
                        @Html.ActionLink("Lummox 7", "Poem", "Poems", new { fileName = "7_disappearing_words.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15" })
                        <br /><br />
                    </div>
                </div>

                <div id="walt_whitman_ekphrastic" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/walt_whitman_ekphrastic.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Walt Whitman Ekphrastic
                        </h3>
                        <a target="_blank" href="http://infii.weebly.com/henry-crawford.html" class="btn btn-sm btn-b-base-1 mt-15">Mannequin Haus</a>
                        <br /><br />
                    </div>
                </div>

                <div id="a_non-combatants_vietnam" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/a_non-combatants_vietnam.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            A Non-Combatants' Vietnam
                        </h3>
                        <a target="_blank" href="https://anthonywatkins.wixsite.com/btsjul2018/formal-rhyming-poetry" class="btn btn-sm btn-b-base-1 mt-15">Better Than Starbucks!</a>
                        <br /><br />
                    </div>
                </div>


                <div id="and_now_a_word_from_the_management" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/and_now_message_from_managment_FB.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            And Now a Word From the Management
                        </h3>
                        <p>
                            Scryptic Magazine of Alternative Art
                        </p>
                        @Html.ActionLink("And Now a Word From the Management", "Poem", "Poems", new { fileName = "henry_crawford_and_now_a_word_from_the_managment.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15", target = "_blank" })

                    </div>
                </div>

                <div id="taking-the-fall" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/Henry_Crawford_Taking_the_Fall.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Taking the Fall
                        </h3>
                        <p>
                            Typishly
                        </p>
                        <a target="_blank" href="http://typishly.com/2018/01/17/taking-the-fall/" class="btn btn-sm btn-b-base-1 mt-15">Taking the Fall</a>
                        <br /><br />
                        <p>Audio Reading of the Poem:</p>
                        <audio controls preload="none" style="width:280px;">
                            <source src="~/videos/Taking_The_Fall.mp3" type="audio/mp3" />
                            <p>Your browser does not support HTML5 audio.</p>
                        </audio>
                        <p>
                            <strong>Download Audio:</strong>
                            <a href="~/videos/The_Sonnosphere.mp3">mp3</a>,
                        </p>
                    </div>
                </div>

                <div id="brain-imaging" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_brain_imaging.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Brain Imaging
                        </h3>
                        <p>
                            Whimperbang: January, 2018
                        </p>
                        <a target="_blank" href="http://whimperbang.com/issue-16/henry-crawford/" class="btn btn-sm btn-b-base-1 mt-15">Brain Imaging</a>
                        <br /><br />
                        <p>Audio Reading of the Poem:</p>
                        <audio controls preload="none" style="width:280px;">
                            <source src="~/videos/Brain_Imaging.mp3" type="audio/mp4" />
                            <p>Your browser does not support HTML5 audio.</p>
                        </audio>
                        <p>
                            <strong>Download Audio:</strong>
                            <a href="~/videos/The_Sonnosphere.mp3">mp3</a>,
                        </p>
                    </div>
                </div>

                <div id="the-sonnosphere" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/sonnesphere.png">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The Sonnosphere
                        </h3>
                        <p>
                            Olentangy Review: Winter, 2017
                        </p>                        
                        @Html.ActionLink("The Sonnosphere", "Poem", "Poems", new { fileName = "henry_crawford_the_sonnosphere.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15", target = "_blank" })
                    </div>
                </div>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/HAL_9000.PNG">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            HAL 9000
                        </h3>
                        <p>
                            Lit.Cat                        
                        <p>
                            What made a good computer go bad? Here's HAL's story a year before the Jupiter launch.
                        </p>
                        @Html.ActionLink("HAL 9000", "Poem", "Poems", new { fileName = "henry_crawford_HAL_9000.html" }, new { @class = "btn btn-sm btn-b-base-1 mt-15", target = "_blank" })
                    </div>
                </div>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/It_Does_Kind_of_Burn.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            <a href="http://www.versedaily.org/2015/itdoeskindofburn.shtml">It Does Kind of Burn. Goodbye.</a>
                        </h3>
                        <p>
                            The last words of Jose Villegas before being put to death by lethal injection by the State of Texas on April 16, 2014.
                        </p>
                        <a target="_blank" href="http://www.versedaily.org/2015/itdoeskindofburn.shtml" class="btn btn-sm btn-b-base-1 mt-15">Verse Daily</a>
                    </div>
                </div>
                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/Orange_and_Red_on_Red.PNG">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Orange and Red on Red
                        </h3>
                        <p>
                            An ekphrastic poem drawn from a masterpiece of abstract expressionism by Mark Rothko.
                        </p>
                        <a target="_blank" href="http://www.ekphrastic.net/the-ekphrastic-review/orange-and-red-on-red-by-henry-crawford" class="btn btn-sm btn-b-base-1 mt-15">Ekphrastic Review</a>
                    </div>
                </div>
                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/santa_clara_server_room.png" alt="Black Computer Keyboard" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Santa Clara Server Room
                        </h3>
                        <p>
                            Two computer programers seaching a database for a box gone missing in the South China Sea.
                        </p>
                        <a target="_blank" href="http://www.wildagepress.com/santa-clara-server-room-by-henry-crawford/" class="btn btn-sm btn-b-base-1 mt-15">Wild Age Press</a>
                    </div>
                </div>
                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/One_Minute_Forty_Five.PNG" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            One Minute Forty-Five of the First Round
                        </h3>
                        <p>
                            An ekphrastic moment at the intersection of violence and art.
                        </p>
                        <a href="http://www.ekphrastic.net/the-ekphrastic-review/one-minute-forty-five-of-the-first-round-by-henry-crawford" class="btn btn-sm btn-b-base-1 mt-15">Ekphrastic Review</a>
                    </div>
                </div>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/metro_center.jpg" alt="City of Washington" />
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            The City of Washington
                        </h3>
                        <p>
                            Two poems showing our town as a city of change in post-war 1948 and in the midst of reconstruction in 1873.
                        </p>
                        <a target="_blank" href="http://districtlit.com/post/146558744231/crawford" class="btn btn-sm btn-b-base-1 mt-15">District Lit</a>
                    </div>
                </div>
                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/Maddie.JPG">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Every Morning, Maddie
                        </h3>
                        <p>
                            A parent. A daughter. Addiction.
                        </p>
                        <a target="_blank" href="http://mothersalwayswrite.com/every-morning-maddie/" class="btn btn-sm btn-b-base-1 mt-15">Mothers Always Write</a>
                    </div>
                </div>

                <div class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/one_afternoon_in_the_american_civil_war.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            One Afternoon in the American Civil War
                        </h3>
                        <p>
                            A dying soldier speaks to us from the past.
                        </p>
                        <a target="_blank" href="http://www.versedaily.org/2017/afternoonamericancivilwar.shtml" class="btn btn-sm btn-b-base-1 mt-15">Verse Daily</a>
                    </div>
                </div>


                <div id="war_literatue_&_the_arts" class="block block-image v3 mb-40">
                    <div class="block-image">
                        <img src="~/Images/Poems/henry_crawford_remembering_100_years_of_the_first_world_war.jpg">
                    </div>
                    <div class="block-content">
                        <h3 class="block-title">
                            Remembering 100 Years of the First World War
                        </h3>
                        <a target="_blank" href="http://wlajournal.com/wlaarchive/29/crawford.pdf" class="btn btn-sm btn-b-base-1 mt-15">War, Literature & the Arts</a>
                        <br /><br />

                    </div>
                </div>

                <span class="clearfix mt-20"></span>



            </div>
            <div class="col-md-3">
                <!-- SIDEBAR -->
            </div>


        </div>

    </div>
</section>